body{
 background: #f2f3f4;
}

aside{
    float: left;
    background: #770000;
    width: 20%;
    padding: 2,5%;
    height:110vh;
    color:#fff;
    border-right: 5px solid #3b444b;
}

aside ul {
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    list-style: none;
}

aside ul li{
    color:white;
    display:block;
    gap:40px;
    margin:15px;
}

header img{
    float: left;
    margin-left:10px;
    padding:5px;
}

aside h2{
    font-size:16px;
    padding-top:30px;
}

footer{
    float: left;
    background: #770000;
    height: 10vh;
    width:100%;
    color:#fff;
    border-top: 5px solid #3b444b;
}

footer ul li {
    font-size:12px;
}

footer ul{
    padding-top: 20px;
    list-style:none;
    display: flex;
}

.description{
    padding-left: 280px;
}

main h3{
    padding-left: 280px;
}