body {
    min-weight:20%;
    background: #f2f3f4;
    display: flex;
    flex-direction: column;
}

.logo{
    width:150px;
    padding-left:30px;
}

aside {
    float: left;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    width: 15%;
    padding: 2,5%;
    background: #770000;
    border-right: 5px solid #3b444b;
}

aside ul {
    padding-top: 2%;
    list-style: none;
}

aside ul li {
    display: block;
    margin-top: 20px;
    transition: all .3s ease;
    font-size:20px;
    color: #ffffff;
}


aside ul li a {
    text-decoration: none;
    color: white;
}

aside h4{
    padding: 30px 0 0 20px ;
}
aside ul li:hover, aside ul a:hover {
    color: #f2f1f0;
    transform: scale(1.05);
}

main{
    display:block;
    float: left;
    margin-left:310px;
    margin-top: 24px;
}

.main-home{
    width:700px;
}

.item-a {a;}
.item-b {b;}
.item-c {c;}

.photo-and-text-main{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a b",
                         "a ."
                         "a c";
}


.grey-image {
    filter: grayscale(1); /* Черно-белый фильтр для изображения */
    transition: 1s; /* Время изменения цвета изображения */
    box-shadow:0 0 50px #770000;
    height:500px;
}
.grey-image:hover {
    filter: grayscale(0); /* Цветное изображение при наведении */
}

.relevance{
    margin-left:150px;
}

.skill-img{
    text-align:center;
}

.main {
    /*font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*/
    margin-left: 12%;
    padding: 40px 70px 40px 100px;
}

footer{
    position: sticky(bottom);/*относительное позиционирование*/
    width: 100%;/*на всю ширину*/
    padding: 10px 10px;/*поля для контента*/
    background: #770000;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    border-top: 5px solid #3b444b;
    height:60px;
    flex-shrink: 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: block;
    transition: all .3s ease;
    font-size:20px;
    color: #ffffff;
}


footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li:hover, aside ul a:hover {
    color: #f2f1f0;
    transform: scale(1.05);
}