{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
<title>География</title>
    <div style="text-align: center">
        {{ geographypage.text|safe }}
        <br>
        {{ geographypage.table|safe }}
        <br>
        <br>
        <h3>Уровень зарплат по городам для аналитика</h3><br>
        <img width="70%" src="{{ geographypage.graph.url }}" alt="graph"/><br>
       <br><h3>Уровень зарплат по городам</h3><br>
        <img width="70%" src="{% static 'main/img/salary-all.jpg' %}"/>
        <br>
    </div>
{% endblock %}